{% extends 'shop/basic.html' %}
{% block title %}Checkout{% endblock title %}

{% block body %}

<div class="container">
    <div class="col my-4">
        <h2>Step 1 - My Awesome Cart Tracker - Track your orders</h2>
        <form action="/shop/tracker/" method="post" class="row g-3" id="trackerForm">
        {% csrf_token %}
            <div class="col-md-6">
                <label for="Order_id" class="form-label">Order id</label>
                <input type="text" name="Order_id" class="form-control" id="Order_id" placeholder="Order id" required>
            </div>
            <div class="col-md-6">
                <label for="email" class="form-label">Email</label>
                <input type="email" name="email" class="form-control" id="email" placeholder="Email" required>
            </div>
            <button type="submit" class="btn btn-primary" required>Track Order</button>
        </form>
    </div>
</div>

<div class="container">
    <div class="col my-4">
        <h2>Your order status</h2>
        <div class="my-4">
            <ul class="list-group" id="items">
                Enter Order id and Email to track your orders.
            </ul>
        </div>
    </div>
</div>
{% endblock body %}

{% block js %}
<script>

$("#trackerForm").submit(function(e){
    $("#items").empty();

    var formData = {
        "Order_id":$("input[name=Order_id]").val(),
        "email":$("input[name=email]").val(),
        "csrfmiddlewaretoken":$("input[name=csrfmiddlewaretoken]").val(),
    }

    $.ajax({
        type:"POST",
        url:"/shop/tracker/",
        data:formData,
        encode:true,
    }).done(function(data){
        let parsedData = JSON.parse(data);

        if ($.isEmptyObject(parsedData)){
            let myStr = `<li class="list-group-item d-flex justify-content-between align-items-center">Sorry, No orders found! try to enter valid Order id and Email.</li>`;
            $("#items").append(myStr);
        }
        else{
            for(i=0; i<parsedData.length; i++){
                text = parsedData[i]["text"];
                time = parsedData[i]["time"];
                let myStr = `<li class="list-group-item d-flex justify-content-between align-items-center">${text}<span class="badge bg-primary rounded-pill">${time.split("-").reverse().join("-")}</span></li>`;
                $("#items").append(myStr);
            }
        }
    });
    e.preventDefault();
});


</script>

{% endblock js %}